/* 5/7 base rules are converted successfully. */
/* Gather results from the console with `copy(window.cssToTailwindResults)` */

/* ℹ️ Base selector: .img-card */
/* ✨ TailwindCSS: "max-w-full" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.img-card {
  @apply max-w-full;
  border-radius: 10px 10px 0px 0px;
}

/* ℹ️ Base selector: .img-circle */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .img-circle-sm */
/* ❌ Could not match any TailwindCSS classes. */

/* ℹ️ Base selector: .img-rounded */
/* ✨ TailwindCSS: "w-full" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.img-rounded {
  @apply w-full;
  border-radius: 50%;
}

/* ℹ️ Base selector: .cards */
/* ✨ TailwindCSS: "grid pb-12" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.cards {
  @apply grid pb-12;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

/* ℹ️ Base selector: .recipe-card, .inbox-card */
/* ✨ TailwindCSS: "bg-white cursor-pointer" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.recipe-card,
.inbox-card {
  @apply bg-white cursor-pointer;
  border-radius: 10px;
  box-shadow: 0 14px 28px -5px rgba(50, 50, 93, 0.25),
  0 8px 16px -8px rgba(0, 0, 0, 0.3);
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
}

/* ℹ️ Base selector: .editable */
/* ✨ TailwindCSS: "opacity-100" */
/* ⚠️ Some properties could not be matched with Tailwind classes. Use @apply to extend a CSS rule: */
.editable {
  @apply opacity-100;
  transition: opacity 0.3s ease-in-out;
}
