@tailwind base;
@tailwind components;
@tailwind utilities;

.img-card {
    @apply w-full object-cover;
    height: 250px;
}

.img-rounded {
    @apply w-full rounded;
}

.cards {
    @apply grid pb-12 gap-4;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.recipe-card,
.inbox-card {
    @apply bg-white cursor-pointer rounded shadow-xl overflow-hidden duration-300;
    transition-property: transform, box-shadow;
}

.recipe-card:hover, .inbox-card:hover {
    @apply shadow-2xl;
    transform: translateY(-2px);
}

.editable {
    @apply opacity-100 transition-opacity;
}
